.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #000000;
    width: 100%;
    background-color: blueviolet;
    padding: 2em;
  }
  .imageContainer {
    margin-left: 1em;
  }
  .countContainer {
    background-color: aqua;
    margin-right: 1em;
  }
  .title {
    font-size: 20px;
  }
  
  /* .image {
    width: 200px;
  
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  } */
  .span {
    font-weight: bold;
  }
  .priceTxt {
    font-weight: bold;
  }
  .description {
    font-style: italic;
  }